body {
  margin-top: 60px;
}

.fixbar {
  font-size: 15px;
  letter-spacing: 3px;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 15px;
  text-align: right;
  width: 100%;
  background-color: #109EC6;
  color: #fff;
}

.fixbar a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.logo {
  letter-spacing: 1px;
  position: fixed;
  left: 25px;
  top: 2px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 200%;
}

h1 {
  text-align: center;
  color: #109EC6;
  width: 400px;
  margin: auto;
  padding: 10px;
}
