
<h1>New Lead Sheet</h1></br>

<div class="container">
  <form action='/leads' method="post" id="register-lead">
    <%= erb :_lead_form %>
    <button type="submit" class="btn btn-default">Register</button>
  </form>
</div>
