<nav>
  <div class="fixbar">
    <span class="logo">dancing on glass</span>
    <% if logged_in? %>
      <a href="/users/<%= @user.id %>"><%=@user.username%></a>
      <a href="/logout">Logout</a>
    <% else %>
      <a href="/users/new">Register</a>
      <a href="/users/login">Log In</a>
    <% end %>
      <a href="/">Home</a>
  </div>
</nav>
